
<section class="dialog-section">
    <div class="tip">
        <% var flash = request.flash('info').pop(); if (flash) { %>
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
        <% } %>

        <% flash = request.flash('error').pop(); if (flash) { %>
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
        <% }; %>
    </div>
    <div class="dialog">
    <% var form = formFor(user, {action: pathTo.reg(), method: 'POST', id: "login-form", class: 'form-vertical form-inline'}) %>
    <%- form.begin() %>
        <%- errorMessagesFor(user) %>
        <div class="control-group">
           <%- form.label("用户名", false, {class: "control-label"}) %>
           <div class="controls">
               <%- form.input("name",{placeholder:"最多50个字符"}) %>
           </div>
        </div>
        <div class="control-group">
           <%- form.label("密码", false, {class: "control-label"}) %>
           <div class="controls">
               <%- form.input("password",{type:"password",placeholder:"最多40个字符"}) %>
           </div>
        </div>
        <div class="control-group">
           <%- form.label("email", false, {class: "control-label"}) %>
           <div class="controls">
               <%- form.input("email",{placeholder:"电子邮箱地址"}) %>
           </div>
        </div>
        <div class="control-group">
            <%- form.submit('<i class="icon-ok icon-white"></i> 注册', {class: 'btn btn-primary'}) %>
            <a id="reg-reset" href="#reset" class="btn pull-right">重置</a>
        </div>
    <%- form.end() %>
    </div>
</section>

