<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>



    </head>
    <body>
        <div class="display-container">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="public-header">发布，分享3D模型</h3>
                    </div>
                </div>
                <% if(post) {%>
                    <input id="postId" type="hidden" value="<%= post._id %>">
                <% }else {%>
                    <input id="postId" type="hidden" value="">
                <% }%>
                <div class="row-fluid">

                    <div id='contents' class="span7 embeded-container">
                    </div>
                    <div class="offset1 span4 site-simple-intro">
                        <ul class="introduce-3d">

                            <li>
                                <i class="icon-ok"></i>
                                分享，嵌入3D模型
                            </li>
                            <li>
                                <i class="icon-ok"></i>
                                上传3D模型
                            </li>
                            <li>
                                <i class="icon-ok"></i>
                                无需插件
                            </li>
                            <li>
                                <i class="icon-ok"></i>
                                免费无限制上传
                            </li>
                            
                            <li>
                                <a href="/posts" class="btn btn-success btn-large">
                                    <i class="icon-signin"></i>
                                    浏览更多模型
                                </a>
                            </li>
                        </ul>
                        <div>
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                    <% if (posts.length > 0) { %>
                                        <% posts.forEach(function (post) { %>
                                            <% if(post.thumbnail) { %>
                                                <li class="span6">
                                                    <div class="thumbnail">
                                                        <a class="model-link" href="/posts/<%=post.id %>">
                                                            <img src="<%=post.thumbnail %>" alt="<%=post.title%>" class="img-circle img-share">
                                                        </a>
                                                    </div>
                                                </li>
                                            <% } %>
                                        <% }); %>
                                    <% } %>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row-fluid">
                <ul class="thumbnails function-intro">
                    <li class="span4">
                        <div class="thumbnail">
                            <div class="image-div">
                                <img src="images/icon_share.png" alt="300x200" class="img-circle img-share">
                            </div>
                            <div class="caption">
                                <h3>分享</h3>
                                <p>把模型嵌入任何你想要分享的网站，分享你的3D模型</p>
                            </div>
                        </div>
                    </li>

                    <li class="span4">
                        <div class="thumbnail">
                            <div class="image-div">
                                <img src="images/icon_html5.png" alt="300x200" class="img-circle img-html5">
                            </div>
                            <div class="caption">
                                <h3>html5</h3>
                                <p>基于最新技术，无需安装任何插件

                                </p>

                            </div>
                        </div>
                    </li>

                    <li class="span4">
                        <div class="thumbnail">
                            <div class="image-div">
                                <img src="images/icon_dl.png" alt="300x200" class="img-circle img-upload">
                            </div>
                            <div class="caption">
                                <h3>上传</h3>
                                <p>直接上处模型文件，无需转化格式</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <script type="text/template" id="iframe-embeded-tmpl">
            <iframe class="embeded-iframe" scrolling="no" frameborder="0" height="394" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true"
            src="{{ siteUrl }}/posts/embeded/{{ id }}">
            </iframe>
        </script>
        <script data-main="/build/app/home" src="/javascripts/require.js"></script>

    </body>
</html>