<%- errorMessagesFor(post) %>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("content", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("content") %>
   </div>
</div>
<div class="control-group download-area">
   <%- form.label("files", false, {class: "control-label"}) %>
   <div class="controls upload-area">

       <div class="bar" style="width: 0%;"></div>
       <div id="percent"></div>
       <div id="upload-result">
       <p>上传成功</p>
       </div>
       <input id="fileupload" type="file" data-url="/upload" name="files[]" multiple/>
   </div>

</div>
<div class="control-group">

   <%- form.label("published", false, {class: "control-label"}) %>

   <div class="controls">

       <%- form.checkbox("published") %>

   </div>

</div>

<script data-main="post" src="/javascripts/require-jquery.js"></script>
<script src="/javascripts/app/requirejs-config.js"></script>
