
<div class="container-fluid">


   <div class="row-fluid">
       <div class="span7">
            <span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>Add files..</span>
                <input id="fileupload" type="file" data-url="/upload" name="files"/>
                <input type="hidden" name="redirect" value="/">
            </span>
       </div>
   </div>
   <div class="row-fluid">
         <div class="span4 upload-area">
            拖拽附件到此区域
        </div>
   </div>
    <div class="row-fluid">
        <h6>上传<h6>
        <div class="span2">
            <div id="upload-result"></div>

            <div id="progress">
                <span id="percent"></span>
                <div class="bar"></div>
            </div>
        </div>
        <table id="upload-result-table" role="presentation" class="table table-striped">
            <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
            </tbody>
        </table>


    </div>
    <div id="upload-result-div" class="row-fluid">
        <table id="upload-table" class="table-stripe">
            <tr>
                <th class="span1">
                    文件名
                </th>
                <th class="span1">
                    进度
                </th>
                <th class="span1">
                    大小
                </th>
                <th class="span1">
                    操作
                </th>
            </tr>
        </table>
    </div>



</div>
<script data-main="/javascripts/app/post.js" src="/javascripts/require-jquery.js"></script>
<script src="/javascripts/app/requirejs-config.js"></script>


<script id="upload-content-template" type="text/template">

    <td class="span1">
        {{ name }}
    </td>
    <td class="span1">
        进度
    </td>
    <td class="span1">
        {{ size }}
    </td>
    <td class="span1">
        操作
    </td>

</script>

<script id="upload-header-template" type="text/template">
    <tr>
        <th class="span1">
            文件名
        </th>
        <th class="span1">
            进度
        </th>
        <th class="span1">
            大小
        </th>
        <th class="span1">
            操作
        </th>
    </tr>
</script>














































<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <% var form = formFor(post, {action: pathTo.posts(), method: 'POST', id: "post-form", class: 'form-horizontal', enctype: "multipart/form-data" })%>
            <%- form.begin() %>
            <%- include _form %>
            <div class="form-actions">
                <%- form.submit('<i class="icon-ok icon-white"></i> Create post', {class: 'btn btn-primary'}) %> or
                <%- linkTo('Cancel', pathTo.posts(), {class: 'btn'}) %>
            </div>
            <%- form.end() %>
        </div>
    </div>
</div>
