<div class="container padding-top-30">

    <div>
        <h1>模型列表</h1>
    </div>

    <!--<div class="row">-->
        <!--<div class="span12">-->
            <!--<p><%- link_to('<i class="icon-plus icon-white"></i> 上传我的模型', pathTo.new_post(), {class: 'btn btn-primary'}) %></>-->
        <!--</div>-->
    <!--</div>-->

    <div class="wrapper">
        <!--<div class="row">-->
        <!--<div class="span8">-->
        <article class="left-column">
            <nav>
                <ul class="menu">
                    <li id="recent"class="current">
                        <a href="/dashboard/recent">浏览量排序</a>
                    </li>
                    <li id="views">
                        <a href="/dashboard/views">喜欢数排序</a>
                    </li>
                    <li id="faved">
                        <a href="/dashboard/faved">时间排序</a>
                    </li>
                    <li>
                        <a href="/dashboard/folders">编辑选择</a>
                    </li>

                    <li class="dotme">

                        <a href="/portfolio?ref=dashboard-nav" target="_blank">
                            <span class="dotme-badge"></span>
                            我的3D模型
                        </a>

                    </li>

                </ul>
            </nav>
            <div id="article_content">
                <ul class="thumbnails">

                <% if (posts.length > 0) { %>
                    <% posts.forEach(function (post) { %>
                        <% if(post.thumbnail) { %>
                    <li class="athumbnail" data-model="<%= post._id %>">
                        <div class="model-thumbnail">
                            <a class="model-link" href="/posts/<%=post.id %>">
                                <img src="<%=post.thumbnail %>" alt="screenshot of 3d model The Grey City Build">

                                <!--<a href="/posts/<%=post.id %>"><img src="<%=post.thumbnail %>" class="item"></a>-->
                            </a>
                            <div class="model-meta">
                                <p class="model-author js-model-author">by <a href="/garret559" title="garret559's profile">garret559</a>

                                </p>
                                <p class="model-name js-model-name model-name-active"><%=post.title %></p>
                                <p class="model-stats js-model-stats model-stats-active">
                                    <span><i class="icon-eye-open"></i></span>
                                    <span class="hits">78</span>
                                    <span><i class="icon-heart"></i></span>
                                    <span class="likes">4</span>
                                    <span><i class="icon-comment"></i></span>
                                    <span class="comments-total"><a href="/show/8A8B74fOPkMjF0LjIsrCaYXTWSG#comment#disqus_thread" title="Comments" data-disqus-identifier='8A8B74fOPkMjF0LjIsrCaYXTWSG'>0</a></span>
                                </p>
                            </div>
                        </div>
                    </li>
                        <% } %>
                <% }); %>
                </ul>
            </div>

            <!--<table class="table table-striped">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--&lt;!&ndash;<th>3D Model</th>&ndash;&gt;-->
                        <!--<th>Thumbnail</th>-->
                        <!--&lt;!&ndash;<th>Actions</th>&ndash;&gt;-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<% posts.forEach(function (post) { %>-->
                    <!--<tr>-->
                        <!--<td><strong><%- link_to(post.name, pathTo.post(post)) %></strong></td>-->
                        <!--<td>-->
                            <!--<% if(post.thumbnail) { %>-->
                                <!--<img src="<%=post.thumbnail %>">-->
                            <!--<% } %>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<%- link_to('<i class="icon-edit"></i> Edit', pathTo.edit_post(post), {class: 'btn btn-mini'}) %>-->
                            <!--<%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.post(post), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<% }); %>-->
                <!--</tbody>-->
            <!--</table>-->
            <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No posts were found.</strong>
            </p>
            <% } %>
        </article>
        <aside>
            <article class="tags">
                <h2>标签浏览</h2>
                <ul id="taglist">

                    <li class="tag-"><a href="/tag/character">角色</a></li>

                    <li class="tag-"><a href="/tag/vehicle">车辆</a></li>

                    <li class="tag-"><a href="/tag/architecture">建筑</a></li>

                    <li class="tag-"><a href="/tag/animal">动物</a></li>

                    <li class="tag-"><a href="/tag/military">军事</a></li>

                    <li class="tag-"><a href="/tag/nature">自然</a></li>

                    <li class="tag-"><a href="/tag/electronic">电子设备</a></li>

                    <li class="tag-"><a href="/tag/stuff">物品</a></li>

                    <li class="tag-"><a href="/tag/science">科学</a></li>

                    <li class="tag-"><a href="/tag/game">游戏</a></li>

                    <li class="tag-"><a href="/tag/furniture">家居</a></li>

                    <li class="tag-"><a href="/tag/art">技术</a></li>

                    <li class="tag-"><a href="/tag/3dscan">3d扫描</a></li>

                </ul>
            </article>
        </aside>
        <!--</div>-->
        <!--<div class="span4"></div>-->
        <!--</div>-->
    </div>
</div>
<script data-main="/javascripts/app/post-index" src="/javascripts/require.js"></script>
