<div class="container padding-top-30">

    <h3>模型列表</h3>
  

    <div class="wrapper">

        <article class="left-column">
            <nav>
                <ul class="menu">
                    <li id="recent"class="current">
                        <a href="/dashboard/recent">浏览量排序</a>
                    </li>
                    <li id="views">
                        <a href="/dashboard/views">喜欢数排序</a>
                    </li>
                    <li id="faved">
                        <a href="/dashboard/faved">时间排序</a>
                    </li>
                    <li>
                        <a href="/dashboard/folders">编辑选择</a>
                    </li>

                    <li class="dotme">

                        <a href="/portfolio?ref=dashboard-nav" target="_blank">
                            <span class="dotme-badge"></span>
                            我的3D模型
                        </a>

                    </li>

                </ul>
            </nav>
            <div id="article_content">
                <ul class="ul-thumbnails">
                    <% if (posts.length > 0) { %>
                        <% posts.forEach(function (post) { %>
                            <% if(post.thumbnail) { %>
                                <li class="athumbnail" data-model="<%= post._id %>">
                                    <div class="model-thumbnail">
                                        <a class="model-link" href="/posts/<%=post.id %>">
                                            <img src="<%=post.thumbnail %>" alt="screenshot of 3d model The Grey City Build">

                                            <!--<a href="/posts/<%=post.id %>"><img src="<%=post.thumbnail %>" class="item"></a>-->
                                        </a>
                                        <div class="model-meta">
                                            <p class="model-author js-model-author">by <a href="/garret559" title="garret559's profile">garret559</a>

                                            </p>
                                            <p class="model-name js-model-name model-name-active"><%=post.title %></p>
                                            <p class="model-stats js-model-stats model-stats-active">
                                                <span><i class="icon-eye-open"></i></span>
                                                <span class="hits">78</span>
                                                <span><i class="icon-heart"></i></span>
                                                <span class="likes">4</span>
                                                <span><i class="icon-comment"></i></span>
                                                <span class="comments-total"><a href="/show/8A8B74fOPkMjF0LjIsrCaYXTWSG#comment#disqus_thread" title="Comments" data-disqus-identifier='8A8B74fOPkMjF0LjIsrCaYXTWSG'>0</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        <% }); %>
                    <% } %>
                </ul>
                
            </div>

        
        </article>


    </div>
</div>
