<div class="container padding-top-30">

    <div class="row">
        <div class="span12">
            <ul class='breadcrumb'>
                <li class="active">
                    <a href="/posts">所有模型</a>
                    <span class='divider'>/</span>
                </li>
                <li class="active">
                    我的模型
                </li>
            </ul>
        </div>
    </div>

    <div class="model-container">
        <div class="model-thumbnails">
            <ul class="thumbnails">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(function (post) { %>
                        <% if(post.thumbnail) { %>
                            <li class="span3 model-li" data-model="<%= post._id %>">
                               <div class="thumbnail model-one">
                                    <p class="p-row">名字：<%=post.title %></p>
                                    <p class="p-row">
                                        <a href="/posts/<%=post.id %>" class="model-link">
                                            <img class="model-img" src="<%=post.thumbnail %>" alt="screenshot of 3d model The Grey City Build">
                                        </a>
                                    </p>

                                    <div class="row-fluid">
                                        <div class="span3">
                                            <a href="#myModal" role="button"  name="delete-link" data-id="<%=post.id %>" class="btn btn-danger btn-mini" data-toggle="modal">删除</a>
                                        </div>
                                        <div class="offset5 span4" data-toggle="tooltip" title="first tooltip">
                                            <div class="make-switch switch-mini" data-on="primary" data-off="warning" data-on-label="是" data-off-label="否" data-id="<%=post.id %>">

                                            <% if (post.published) { %>
                                                <input type="radio" checked="checked">
                                            <% }else { %>
                                                <input type="radio">
                                            <% } %>

                                            </div>
                                        </span2>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% }); %>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<form id="delete-post-form" action="/posts" method="post">
   <input type="hidden" name="_method" value="delete">
   <input type="hidden" id="authenticity_token" name="authenticity_token">
   <input type="hidden" id="post-id" name="id">
</form>

<form id="switch-post-form" action="/posts/switch" method="post">
   <input type="hidden" name="_method" value="put">
   <input type="hidden" id="authenticity_token_switch" name="authenticity_token">
   <input type="hidden" id="post-id-switch" name="id">
   <input type="hidden" id="publish-model" name="published">
</form>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">删除模型</h3>
    </div>
        <div class="modal-body">
        <p>
            <div class="alert alert-danger alert-block">
                确认删除此模型，此操作将不可回复，模型将永久移除
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="confirm-delete-btn" class="btn btn-danger">删除</button>
    </div>
</div>

<script data-main="/build/app/me" src="/javascripts/require.js"></script>
