<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>

        <%- stylesheet_link_tag('show','jquery-toolbars','bootstrap-icons') %>

    </head>
    <body>
    <div id="postShowContainer">
    </div>
<div class="container">

    <input type="hidden" id="post-url" name="post-url" value="<%= post.url %>">
    <input type="hidden" id="post-name" name="post-name" value="<%= post.name %>">
    <input type="hidden" id="post-title" name="post-title" value="<%= post.title %>">
    <input type="hidden" id="post-content" name="post-content" value="<%= post.content %>">

    <input type="hidden" id="cameraX" name="cameraX" value="<%= post.cameraX %>">
    <input type="hidden" id="cameraY" name="cameraY" value="<%= post.cameraY %>">
    <input type="hidden" id="cameraZ" name="cameraZ" value="<%= post.cameraZ %>">
    <input type="hidden" id="background" name="background" value="<%= post.background %>">



    <% var form = formFor(post, {action: pathTo.posts, method: 'POST', id: "post-form", class: 'form-horizontal'}) %>
    <%- form.begin() %>
       <input type="hidden" id="post-id" name="post-id" value="<%= post._id %>">
    <%- form.end() %>


    <input id="pictureTaking" type="button" value="拍个照吧" style="position:absolute;left:80px;top:80px;"/>

    <img id="picture" hidden="true" style="position:absolute;left:80px;top:110px;border:1;border-color: black;">




    <div style="position:absolute;left:200px;top:80px;">
        背景 :
        <input type="radio" name="changeBackground" id="room" value="room" onclick="getRadio(event)"/>
        房间
        <input type="radio" name="changeBackground" id="lawn" value="lawn" onclick="getRadio(event)"/>
        草地
        <input type="radio" name="changeBackground" id="coast" value="coast" onclick="getRadio(event)"/>
        海边
        <input type="radio" name="changeBackground" id="hotel" value="hotel" onclick="getRadio(event)"/>
        酒店
        <input type="radio" name="changeBackground" id="town" value="town" onclick="getRadio(event)"/>
        小镇
        <input type="radio" name="changeBackground" id="mosque" value="mosque" onclick="getRadio(event)"/>

        清真寺
        <input type="button" onclick="getRotation(event)" />


    </div>


</div>
<div class="btn-group span12 btn-group-float">
    <a id="share-toolbar" href="#share-model" role="button" class="btn btn-large" data-toggle="modal"><i class="icon-share"></i></a>
    <button class="btn btn-large"><i class="icon-heart"></i></button>
    <button id="full-btn" class="btn btn-large"><i class="icon-fullscreen"></i></button>
</div>
<!--
<div id="user-toolbar-options">
    <a href="#"><i class="icon-user"></i></a>
    <a href="#"><i class="icon-star"></i></a>
    <a href="#"><i class="icon-edit"></i></a>
    <a href="#"><i class="icon-delete"></i></a>
    <a href="#"><i class="icon-ban"></i></a>
    <button class="btn btn-large">分享</button>
    <button class="btn btn-large">嵌入</button>

</div>
-->


<div class="modal fade" id="share-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel">嵌入模型</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    拷贝如下代码到你想要发表的网站或论坛中，即可分享你的3D模型
                </div>
            </div>
            <div class="row-fluid">
                <h6>1. 简单html链接分享</h6>
                <button id="simple-copy-btn" class="btn btn-success">拷贝</button>&nbsp&nbsp到剪贴板
                <div class="span12">
                    <div id="simple-embed-div" class="span10 share-link">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <h6>2. iframe 嵌入网页中</h6>
                <p>
                    <button id="iframe-copy-btn" class="btn btn-success">拷贝</button>&nbsp&nbsp到剪贴板
                </p>

                <div class="span12">
                    <div id="iframeEmbedDiv" class="span10 share-link">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
</div>

<script type="text/template" id="simple-html-template">
    <h3>{{ title }} (<a href="{{ url }}" title="查看模型在 3D " target="_blank">3D模型</a>)</h3>
    <a href="{{ url }}" title="iPhone 5" target="_blank">
    <div style="position: absolute; top: 140px; left: 183px; height: 82px; width: 82px; cursor: pointer; background: url("http://localhost") no-repeat;background-size: cover;">
    </div>

</script>
<script type="text/template" id="iframe-template">
    <iframe frameborder="0" height="480" width="854" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true" src="{{ url }}">
    </iframe>
</script>


<script type="text/javascript" src="/javascripts/THREEx.FullScreen.js"></script>
<script type="text/javascript" src="/javascripts/THREEx.screenshot.js"></script>
<script type="text/javascript" src="/javascripts/OrbitControls.js"></script>

<script src="/javascripts/loaders/ctm/lzma.js"></script>
<script src="/javascripts/loaders/ctm/ctm.js"></script>
<script src="/javascripts/loaders/ctm/CTMLoader.js"></script>

<script src="/javascripts/loaders/BinaryLoader.js"></script>
<script src="/javascripts/loaders/OBJLoader.js"></script>
<script src="/javascripts/loaders/VTKLoader.js"></script>
<script src="/javascripts/loaders/STLLoader.js"></script>
<script src="/javascripts/loaders/ColladaLoader.js"></script>
<script src="/javascripts/loaders/UTF8Loader.js"></script>
<script src="/javascripts/loaders/MTLLoader.js"></script>

<script src="/javascripts/underscore-min.js"></script>

<script type="text/javascript" src="/javascripts/app/show.js"></script>
</body>
</html>
