
<!-- models show container -->
<div id="postShowContainer">
    <div class="btn-group-float">
        <a id="share-toolbar" href="#share-model" role="button" class="btn btn-large" data-toggle="modal"><i class="icon-share"></i></a>
        <button class="btn btn-large"><i class="icon-heart"></i></button>
        <button id="full-btn" class="btn btn-large"><i class="icon-fullscreen"></i></button>
    </div>
</div>


    <input type="hidden" id="post-url" name="post-url" value="<%= post.url %>">
    <input type="hidden" id="post-name" name="post-name" value="<%= post.name %>">
    <input type="hidden" id="post-title" name="post-title" value="<%= post.title %>">
    <input type="hidden" id="post-content" name="post-content" value="<%= post.content %>">
    <input type="hidden" id="thumbnail" name="thumbnail" value="<%= post.thumbnail %>">
    <input type="hidden" id="cameraX" name="cameraX" value="<%= post.cameraX %>">
    <input type="hidden" id="cameraY" name="cameraY" value="<%= post.cameraY %>">
    <input type="hidden" id="cameraZ" name="cameraZ" value="<%= post.cameraZ %>">
    <input type="hidden" id="controlsX" name="controlsX" value="<%= post.controlsX %>">
    <input type="hidden" id="controlsY" name="controlsY" value="<%= post.controlsY %>">
    <input type="hidden" id="controlsZ" name="controlsZ" value="<%= post.controlsZ %>">
    <input type="hidden" id="background" name="background" value="<%= post.background %>">
    <input type="hidden" id="wireframe" name="wireframe" value="<%= post.wireframe %>">


    <input type="hidden" id="userId" name="userId" value="<%= post.user %>">

    <% if(request.session.user) {%>
        <input type="hidden" id="sessionId" name="sessionId" value="<%= request.session.user._id %>">
    <% } %>
    <% var form = formFor(post, {action: pathTo.posts, method: 'POST', id: "post-form", class: 'form-horizontal'}) %>
    <%- form.begin() %>
       <input type="hidden" id="post-id" name="post-id" value="<%= post._id %>">
    <%- form.end() %>
    
    <% var user = request.session.user; if (user && (user._id == post.user)) { %>
        <input id="pictureTaking" type="button" value="拍照" class="hud-top hud-pic-button">
           <span><i class="icon-cogs"></i></span>
        </input>
    <% } %>



    <img id="picture" hidden="true" style="position:absolute;left:80px;top:110px;border:1;border-color: black;">






<% var user = request.session.user; if (user && (user._id == post.user)) { %>
    <div class="hud-top hud-edit-button">
        编辑
        <span><i class="icon-cogs"></i></span>
    </div>

    <div class="edit hud-top" hidden="true">
        <div class="close">
            Close
        </div>
        <h2>Edit model</h2>
        <div id="edit-scroll">
            <form class="edit-panel-form" action="" method="" accept-charset="utf-8">
                <fieldset id="model-meta">
                    <input name="model-id" type="text" value="<%= post.title %>" class="museo" id="model-urlid"/>
                    <label for="model-name">Model name</label>
                    <input name="model-name" type="text" maxlength="48" value="<%= post.name %>" class="museo" id="model-name"/>
                    <label for="model-tags">Tags <span>(separated by spaces)</span></label>
                    <input name="model-tags" type="text" maxlength="128" value="" class="museo" id="model-tags"/>
                    <label for="model-desc">Model description <span>(html supported)</span></label>
                    <textarea placeholder="Enter a short description" maxlength="256" value="<%= post.content %>" class="museo" id="model-desc" name="model-desc"></textarea>
                </fieldset>

                <fieldset class="js-edit-environment edit-environment edit-option-category">
                    <div class="js-bind-edit-environment">
                        <div class="js-triangle-arrow triangle-arrow right"></div>
                        <input type="checkbox" name="activate-environment" />
                        <legend>Environment</legend>
                        <a alt="watch how to configure it" class="js-help" href="http://blog.sketchfab.com/post/47822357146/hdr-environments-new-backgrounds" target="_blank">help</a>
                    </div>

                    <div class="form-box">
                        <div>
                            <fieldset class='environment-background'>
                                <select class="js-edit-environment-list" type="checkbox" name="activate-environment">
                                    <option value ="no">no</option>
                                    <option value ="room">room</option>
                                    <option value="lawn">lawn</option>
                                    <option value="coast">coast</option>
                                    <option value ="hotel">hotel</option>
                                    <option value="town">town</option>
                                    <option value="mosque">mosque</option>
                                </select>
                                <input type="checkbox"/>
                                <label>show bg</label>
                            </fieldset>

                            <fieldset id="environment-exposure">
                                <label>Exposure</label>
                                <div class="noUiSlider js-environment-slider-exposure"></div>
                            </fieldset>
                            <fieldset id="environment-light">
                                <label>Light intensity</label>
                                <div class="noUiSlider js-environment-slider-light"></div>
                            </fieldset>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="rendering" class="edit-option-category">
                    <legend>Rendering options</legend>
                    <div class="form-box">
                        <div>
                            <label>
                                <input type="radio" id="check_shadeless" name="shading" value="no-shading" />
                                Shadeless
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="radio" id="check_fileshading" name="shading" value="default-shading" />
                                Original
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" id="check_wireframe" name="enableWireframe" value="(<%= post.wireframe %>  == 'true'"/>
                                Wireframe
                            </label>
                            <div class="color-box">
                                <div data-color="#EEEEEE"></div>
                                <div data-color="#888888"></div>
                                <div data-color="#000000"></div>
                                <div data-color="#1CAAD9"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div id="material-editor">
                <h3>Materials</h3>
                <select class="js-material-list"></select>
                <a href="http://blog.sketchfab.com/post/45409770868/material-editor" class="help js-help" alt="watch how to configure it" target="_blank">help</a>
                <div class="form-box">
                    <fieldset id="channel-DiffuseColor">
                        <h4>Diffuse Color</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="1"
                             data-step="0.01">
                        </div>
                    </fieldset>

                    <fieldset id="channel-DiffuseIntensity">
                        <h4>Lightmap</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="1"
                             data-step="0.01">
                        </div>
                    </fieldset>

                    <fieldset id="channel-SpecularColor">
                        <h4>Specular Color</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="1"
                             data-step="0.01">
                        </div>
                    </fieldset>

                    <fieldset id="channel-SpecularHardness">
                        <h4>Shininess</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="400"
                             data-step="0.1">
                        </div>
                    </fieldset>

                    <fieldset id="channel-Bump">
                        <h4>Bump Map</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="1"
                             data-step="0.001">
                        </div>
                    </fieldset>

                    <fieldset id="channel-Normal">
                        <h4>Normal Map</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="1"
                             data-step="0.001">
                        </div>
                    </fieldset>

                    <fieldset id="channel-Opacity">
                        <h4>Opacity</h4>
                        <div>
                            <span style="width:20px; height: 20px">
                              <input id="background-color" type="color" value="#ff0000" width="24px" height="23px" />
                        </span>

                            <br>
                            <span class="hsl-value" id="hsl-a-value">1.00</span> <input id="hsl-a" type="range" min="0" max="100" value="100">
                        </div>
                    </fieldset>

                    <fieldset id="channel-EmitColor">
                        <h4>Emission</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="js-material-preview"></div>
                        <select class="js-texcoord-unit"></select>
                        <div class="noUiSlider js-material-channel-factor"
                             data-min="0"
                             data-max="1"
                             data-step="0.01">
                        </div>
                    </fieldset>

                    <fieldset id="channel-Reflection">
                        <h4>Environment Reflection</h4>
                        <a class="js-reset"><span class="tooltip">Reset channel</span></a>
                        <div class="noUiSlider js-material-channel-factor no-preview"
                             data-min="0"
                             data-max="1"
                             data-step="0.01">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div id="edit-save">
            <div id="cancel-meta" class="js-cancel-meta">cancel</div>
            <div id="save-meta"><span>Save</span></div>
        </div>
    </div>
<% } %>

<div class="modal fade" id="share-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel">嵌入模型</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    拷贝如下代码到你想要发表的网站或论坛中，即可分享你的3D模型
                </div>
            </div>
            <div class="row-fluid">
                <h6>1. 简单html链接分享</h6>
                <button id="simple-copy-btn" class="btn btn-success">拷贝</button>&nbsp&nbsp到剪贴板
                <div class="span12">
                    <div id="simple-embed-div" class="span10 share-link">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <h6>2. iframe 嵌入网页中</h6>
                <p>
                    <button id="iframe-copy-btn" class="btn btn-success">拷贝</button>&nbsp&nbsp到剪贴板
                </p>

                <div class="span12">
                    <div id="iframeEmbedDiv" class="span10 share-link">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
</div>

<script type="text/template" id="simple-html-template">
    <h3>{{ title }} (<a href="{{ url }}" title="查看模型在 3D " target="_blank">3D模型</a>)</h3>
    <a href="{{ url }}" title="iPhone 5" target="_blank">
    <div style="position: absolute; top: 140px; left: 183px; height: 82px; width: 82px; cursor: pointer; background: url("http://localhost") no-repeat;background-size: cover;">
    </div>

</script>
<script type="text/template" id="iframe-template">
    <iframe frameborder="0" height="480" width="854" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true" src="{{ url }}">
    </iframe>
</script>

<script data-main="/build/app/show" src="/javascripts/require.js"></script>

