<div class="container-fluid">

    <input type="hidden" id="post-url" name="post-url" value="<%= post.url %>">
    <input type="hidden" id="post-name" name="post-name" value="<%= post.name %>">
    <input type="hidden" id="cameraX" name="cameraX" value="<%= post.cameraX %>">
    <input type="hidden" id="cameraY" name="cameraY" value="<%= post.cameraY %>">
    <input type="hidden" id="cameraZ" name="cameraZ" value="<%= post.cameraZ %>">
    <input type="hidden" id="background" name="background" value="<%= post.background %>">


    <% var form = formFor(post, {action: pathTo.posts, method: 'POST', id: "post-form", class: 'form-horizontal'}) %>
    <%- form.begin() %>
       <input type="hidden" id="post-id" name="post-id" value="<%= post._id %>">
    <%- form.end() %>
    <div id="postShowContainer">
    </div>

    <input id="pictureTaking" type="button" value="拍个照吧" style="position:absolute;left:80px;top:80px;"/>

    <img id="picture" hidden="true" style="position:absolute;left:80px;top:110px;border:1;border-color: black;">

    <div style="position:absolute;left:200px;top:80px;">
        背景 :
        <input type="radio" checked="checked" name="changeBackground" value="room" onclick="getRadio(event)"/>
        房间
        <input type="radio" name="changeBackground" value="lawn" onclick="getRadio(event)"/>
        草地
        <input type="radio" name="changeBackground" value="coast" onclick="getRadio(event)"/>
        海边
        <input type="radio" name="changeBackground" value="hotel" onclick="getRadio(event)"/>
        酒店
        <input type="radio" name="changeBackground" value="town" onclick="getRadio(event)"/>
        小镇
        <input type="radio" name="changeBackground" value="mosque" onclick="getRadio(event)"/>
        清真寺
        <input type="button" onclick="getRotation(event)" />
    </div>

</div>
<link href="/stylesheets/show.css" rel="stylesheet">

<script type="text/javascript" src="/javascripts/THREEx.FullScreen.js"></script>
<script type="text/javascript" src="/javascripts/THREEx.screenshot.js"></script>
<script type="text/javascript" src="/javascripts/OrbitControls.js"></script>

<script src="/javascripts/loaders/ctm/lzma.js"></script>
<script src="/javascripts/loaders/ctm/ctm.js"></script>
<script src="/javascripts/loaders/ctm/CTMLoader.js"></script>

<script src="/javascripts/loaders/BinaryLoader.js"></script>
<script src="/javascripts/loaders/OBJLoader.js"></script>
<script src="/javascripts/loaders/VTKLoader.js"></script>
<script src="/javascripts/loaders/STLLoader.js"></script>
<script src="/javascripts/loaders/ColladaLoader.js"></script>
<script src="/javascripts/loaders/UTF8Loader.js"></script>
<script src="/javascripts/loaders/MTLLoader.js"></script>

<script type="text/javascript" src="/javascripts/app/show.js"></script>