<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap','bootstrap-responsive','font-awesome','application','jquery.fileupload-ui') %>
        <%- javascript_include_tag('jquery-1.8.0.min', 'bootstrap', 'rails', 'application','three.min','underscore-min',
            'noty/jquery.noty', 'noty/layouts/top','noty/layouts/topCenter','noty/themes/default', 'masonry.pkgd.min',
            'app/tip'
        )
        %>
        <%- csrf_meta_tag() %>
        <style type="text/css">
                /* Customize the navbar links to be fill the entire space of the .navbar */
            .navbar .navbar-inner {
                padding: 30;
            }
            .navbar .nav {
                margin: 30;
                display: table;
            }
            .navbar .nav li {
                display: table-cell;
            }
            .navbar .nav li a {
                font-weight: bold;
                border-left: 1px solid rgba(255,255,255,.75);
                border-right: 1px solid rgba(0,0,0,.1);
            }

        </style>

    </head>
    <body class="main-body">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/"><i class="icon-cloud"></i>3D</a>
                    <div class="nav-collapse.collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="/posts"><i class="icon-th"></i>浏览</a>
                            </li>
                            <li>
                                <a href="/posts"><i class="icon-cloud-upload"></i>上传</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <% var user = request.session.user; if (user) { %>
                                <li class="dropdown">
                                    <a class="dropdown-toggle"  href="#" data-toggle="dropdown">
                                        <%- user.name %>
                                        <b class="caret"></b>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href='/user'><i class="icon-user"></i>我的资料</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='/logout'><i class="icon-signout"></i>
                                        退出
                                    </a>
                                </li>
                            <% }else{ %>
                                <li >
                                        <a href="/enter"><i class="icon-signin"></i> [登录] </a>
                                </li>
                                <li >
                                        <a href="/signup"><i class="icon-signout"></i> [注册] </a>
                                </li>
                            <% }; %>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <script type="text/javascript">
                    $(function(){
                           var message = "<%- flash %>";
                           success(message);
                    })
                </script>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <script type="text/javascript">
                    $(function(){
                           var message = "<%- flash %>";
                           error(message);
                    })
                </script>
            <% }; %>
        </div>
        <div class="container main-content">
            <%- body %>
        </div>
        <hr/>
        <div class="container">
            <footer class="footer" >
                <p>&copy; Company 2013 Build for all love in the world</p>
            </footer>
        </div>
    </body>
</html>
