<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap','bootstrap-responsive','application') %>
        <link rel="stylesheet/less" type="text/css" href="stylesheets/application.less">
        <%- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'bootstrap', 'rails', 'application','less-1.3.3.min') %>
        <%- csrfMetaTag() %>
    </head>
    <body class="body-grey">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">3D</a>


                </div>
            </div>
        </div>
        <div class="image-back">
            <div class="container">
                <% var flash = request.flash('info').pop(); if (flash) { %>
                    <div class="alert alert-info">
                        <a class="close" data-dismiss="alert">×</a>
                        <%- flash %>
                    </div>
                <% } %>

                <% flash = request.flash('error').pop(); if (flash) { %>
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert">×</a>
                        <%- flash %>
                    </div>
                <% }; %>
                <div class="min-container">
                    <%- body %>
                </div>

            </div>
        </div>
        <hr />
        <div class="container-fluid">
           <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>

    </body>
</html>
