<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap','bootstrap-responsive','font-awesome','application') %>
        <%- javascript_include_tag('jquery-1.8.0.min', 'bootstrap', 'rails', 'application') %>
        <%- csrfMetaTag() %>
    </head>
    <body class="login-body">
        <div class="navbar navbar-inverse navbar-fixed-top"">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/"><i class="icon-cloud"></i>3D</a>
                </div>
            </div>
        </div>
        <div class="container login-container">
            <%- body %>
        </div>


    </body>
</html>
