<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap','bootstrap-responsive','application','jquery.fileupload-ui') %>
        <%- csrf_meta_tag() %>

    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">3D</a>
                    <div class="nav-collapse.collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="/">主页</a>
                            </li>
                            <li>
                                <a href="/posts">发布</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right login-bar">
                            <% var user = request.session.user; if (user) { %>
                                <li class="dropdown">
                                    <a class="dropdown-toggle"  href="#" data-toggle="dropdown">
                                        <%- user.name %>
                                        <b class="caret"></b>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href='/user'>我的资料</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='/logout'>
                                        退出
                                    </a>
                                </li>
                            <% }else{ %>
                                 <li >
                                    <span class="height-auto">
                                        <a href="/enter"> [登录] </a>&nbsp / &nbsp;<a href="/signup"> [注册] </a>
                                    </span>


                                </li>
                            <% }; %>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <script type="text/javascript">
                    $(function(){
                           var message = "<%- flash %>";
                           success(message);
                    })
                </script>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <script type="text/javascript">
                    $(function(){
                           var message = "<%- flash %>";
                           error(message);
                    })
                </script>
            <% }; %>
        </div>

        <%- body %>


    </body>
</html>
